.receipt-wrapper {
    max-width: 750px;
    margin: 30px auto;
    background-color: white;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0;
    padding-top: 30px;
}
.receipt-wrapper p {
    margin: 0 0 5px;
}
.receipt-wrapper .row {
    overflow: hidden;
}
.receipt-wrapper .left {
    float: left;
    text-align: center;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-bold {
    font-weight: bold;
}
.receipt-wrapper .head .left hr {
    width: 50%;
    /* left: 50%; */
}
.receipt-wrapper .head .left hr + hr {
    /* margin-top: -5px; */
}
.receipt-wrapper .right {
    float: right;
    text-align: center;
}
.receipt-wrapper .head .right hr {
    width: 50%;
}
.receipt-wrapper .head .right hr + hr {
    width: 30%;
    margin-top: -5px;
}
.receipt-wrapper .title {
    text-align: center;
padding-top: 15px;
padding-bottom: 10px;
}
.receipt-wrapper .title h4 {
    font-size: 18px;
    margin-bottom: 10px;
}
.receipt-wrapper .content {
    margin: 30px 0;
}
.receipt-wrapper ol {
    margin: 0 0 0 15px;
    padding: 0;
}
.receipt-wrapper ol li {
    padding-bottom: 5px;
}
.receipt-wrapper .note {
    margin-top: 15px;
}
.receipt-wrapper .submit {
    margin-left: 75px;
}
.receipt-wrapper .reciever {
    margin-right: 90px;
}

.theme--light .navigation-drawer {
    background-color: transparent;
}
.nav_trang_thai_ho_so .list__tile__action {
    min-width: 32px;
}
.nav_trang_thai_ho_so .list__tile__action .icon {
    color: #efce48;
}
.nav_trang_thai_ho_so .list__tile--active .list__tile__action:first-of-type .icon {
    color: rgb(53, 99, 193);
}
.nav_trang_thai_ho_so .list__tile{
    height: 32px;
}
.navigation-drawer .list__tile--active {
    background: #eceaea;
}
.navigation-drawer .primary--text {
    color: #1d1a1a !important;
    font-weight: bold !important;
}
.row-header {
    background-color: #e1e2e1;
    overflow: hidden;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    width: 100%;
}
.background-triangle-big {
    background-color: #0b72ba;
    display: inline-block;
    padding: 8px 15px;
    width: auto;
    text-align: right;
    color: white;
    position: relative;
    margin-right: 20px;
    text-transform: uppercase;
    cursor: pointer;
}
.background-triangle-small + div.header_tools, .background-triangle-big + div.header_tools {
    width: -webkit-calc( 100% - 100% );
    width: calc(100% - 100% );
}
.background-triangle-small:before, .background-triangle-big:before {
    content: "";
    position: absolute;
    top: 1px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    right: -4px;
    border-top: 28px solid #0b72ba;
    border-left: 28px solid transparent;
    border-bottom: 28px solid transparent;
}
.text-right {
    text-align: right;
}
body .btn-border-left {
    border-left: 2px solid white;
}
body .input-group.input-group--solo .input-group__input {
    padding: 3px 16px;
}
body .input-group.input-group--solo {
    min-height: 36px;
    background: transparent !important;
    border: 0 !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}
body .expansion-panel {
    box-shadow: none;
    border: 1px solid #e1e2e1;
    border-top: 0;
}
body .expansion-panel .expansion-panel__body > .card{
    border-top: 1px solid #e1e2e1;
}

body .expansion-panel__header {
    padding: 8px 15px;
    font-weight: bold;
}

body .expansion-panel__header .card__text {
    padding: 5px 15px;
}
.absolute__btn {
    position: absolute !important;
    top: 0;
    right: 0;
    margin: 0;
}
body .btn > .btn__content .icon {
    margin-right: 5px;
}
body .btn > .btn__content {
    text-transform: initial;
}
body .text-center {
    text-align: center;
}
body .navigation-drawer .btn__add__menu {
    box-shadow: none;
    border-radius: 0;
    background: #0b72ba !important;
    border-color: #0b72ba !important;
    font-weight: normal;
}

body .navigation-drawer .btn__add__menu .btn__content:before {
    height: 0;
}
body .navigation-drawer a.btn__add__menu:hover .btn__content:before,
body .navigation-drawer a.btn__add__menu:focus .btn__content:before,
body .navigation-drawer a.btn__add__menu.btn--active .btn__content:before {
    height: 0;
}
body .application .theme--light.subheader, 
body .theme--light .subheader {
    color: inherit;
    font-size: 14px;
    font-weight: normal;
    height: 32px;
}
body .input-group {
    padding: 0;
}
.input-group.input-group--selection-controls:not(.input-group--disabled) label {
    pointer-events: all;
    font-size: 14px;
    color: #000;
}
body .accent--text {
    color: #000 !important;
}
body .expansion-panel__body .subheader {
    float: right;
}
body .input-group__details {
    min-height: 10px;
}
.expaned__list__data {
    border: none !important;    
}
body .expaned__list__data .expansion-panel__header {
    font-weight: normal;
}
.flex__checkbox .input-group{
    width: auto;
}
.group__thanh_phan .input-group.input-group--selection-controls .input-group__input {
    height: 38px;
}
.group__thanh_phan .flex__checkbox .input-group {
    width: 100px;
    max-width: 100px;
    height: 38px;
    max-height: 38px;
    border-right: 1px solid #e2d7d7;
    background: #f6f7f6;
}
.group__thanh_phan .flex__checkbox .input-group:first-child {
    border-left: 1px solid #e2d7d7;
}
.group__thanh_phan .input-group.input-group--selection-controls .input-group__input .icon--selection-control {
    width: 100px;
}
.group__thanh_phan .input-group--selection-controls__ripple:before {
    left: 83%;
}
.group__thanh_phan .input-group--selection-controls__ripple {
    left: 11px;
    height: 38px;
    width: 38px;
    margin-left: 32px;
}
.group__thanh_phan .badge--left .badge__badge {
    top: 0;
    left: 26px;
}
body .application.theme--light {
    background: #f6f6f6 !important;
}
body .input-group--text-field input, 
body .input-group--text-field textarea {
    font-size: 14px;
}


table.datatable--select-all thead th:first-child, 
table.datatable--select-all tbody td:first-child{
    padding: 0px !important;
    width: 32px !important;
}

table .stt_column , 
table .action_column {
    padding: 2px 5px !important;
}
table .action_column {
    width: 125px;
}

.table-bordered table.table thead tr {
    height: 42px;
    background: #dae8e8;
}
.application .theme--light.table thead th, .theme--light .table thead th {
    color: #201c1c;
    font-size: 13px;
}

body .table-bordered {
    border: 1px solid lightgray;
    border-right: 0;
    border-top: 0;
}
body .table__overflow .table > thead > tr > th {
    border-right: 1px solid lightgray;
    border-top: 1px solid lightgray;
    color: #0d2434 !important;
}
body .table-bordered tbody > tr > td {
    border-right: 1px solid lightgray;
    vertical-align: top;
}
body table.table tbody td, body table.table tbody th {
    height: 38px;
}
body .datatable__actions .btn, 
body .datatable__actions .input-group--select{
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}
.table-bordered table.table tbody td:first-child, 
.table-bordered table.table tbody td:not(:first-child), 
.table-bordered table.table tbody th:first-child, 
.table-bordered table.table tbody th:not(:first-child), 
.table-bordered table.table thead td:first-child, 
.table-bordered table.table thead td:not(:first-child), 
.table-bordered table.table thead th:first-child, 
.table-bordered table.table thead th:not(:first-child) {
    padding: 2px 5px;
}

table.table tbody .input-group--selection-controls.checkbox .icon {
    align-items: start;
    padding-top: 4px;
    font-size: 15px;
}

table.table .input-group--selection-controls.checkbox .icon {
    font-size: 15px;
}
body table.table tbody td[colspan="9"] {
    padding-top: 10px !important;
}
body .input-group--select .input-group__selections__comma {
    font-size: 14px;
}

.menu__content .card {
    margin-bottom: 0;
}
.menu__content .list {
    margin-bottom: 0;
    padding: 0;
}
.menu__content .list > div {
    border-bottom: 1px dashed #ddd;
    display: block;
    padding: 0;
    font-size: 13px;
    height: auto;
    color: rgba(0, 0, 0, 0.87);
    position: relative;
}

.menu__content .list > div .list__tile {
    height: 42px;
	font-size: 14px;
}
.menu__content{
    margin-top: 18px;
}