.theme--light .navigation-drawer {
    background-color: transparent;
}
.nav_trang_thai_ho_so .list__tile__action {
    min-width: 32px;
}
.nav_trang_thai_ho_so .list__tile{
    height: 32px;
}
.navigation-drawer .list__tile--active {
    background: #eceaea;
}
.navigation-drawer .primary--text {
    color: #1d1a1a !important;
    font-weight: bold !important;
}
.row-header {
    background-color: #e1e2e1;
    overflow: hidden;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    width: 100%;
}
.background-triangle-big {
    background-color: #0b72ba;
    display: inline-block;
    padding: 8px 15px;
    width: auto;
    text-align: right;
    color: white;
    position: relative;
    margin-right: 20px;
    text-transform: uppercase;
    cursor: pointer;
}
.background-triangle-small + div.header_tools, .background-triangle-big + div.header_tools {
    width: -webkit-calc( 100% - 100% );
    width: calc(100% - 100% );
}
.background-triangle-small:before, .background-triangle-big:before {
    content: "";
    position: absolute;
    top: 1px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    right: -4px;
    border-top: 28px solid #0b72ba;
    border-left: 28px solid transparent;
    border-bottom: 28px solid transparent;
}
.text-right {
    text-align: right;
}
body .btn-border-left {
    border-left: 2px solid white;
}
body .input-group.input-group--solo .input-group__input {
    padding: 3px 16px;
}
body .input-group.input-group--solo {
    min-height: 36px;
    background: transparent !important;
    border: 0 !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}
body .expansion-panel {
    box-shadow: none;
    border: 1px solid #e1e2e1;
    border-top: 0;
}
body .expansion-panel .expansion-panel__body > .card{
    border-top: 1px solid #e1e2e1;
}

body .expansion-panel__header {
    padding: 8px 15px;
    font-weight: bold;
}

body .expansion-panel__header .card__text {
    padding: 5px 15px;
}
.absolute__btn {
    position: absolute !important;
    top: 0;
    right 0;
    margin: 0;
}
body .btn > .btn__content .icon {
    margin-right: 5px;
}
body .btn > .btn__content {
    text-transform: initial;
}
body .text-center {
    text-align: center;
}
body .navigation-drawer .btn__add__menu {
    box-shadow: none;
    border-radius: 0;
    background: #0b72ba !important;
    border-color: #0b72ba !important;
    font-weight: normal;
}

body .navigation-drawer .btn__add__menu .btn__content:before {
    height: 0;
}
body .navigation-drawer a.btn__add__menu:hover .btn__content:before,
body .navigation-drawer a.btn__add__menu:focus .btn__content:before,
body .navigation-drawer a.btn__add__menu.btn--active .btn__content:before {
    height: 0;
}
body .application .theme--light.subheader, 
body .theme--light .subheader {
    color: inherit;
    font-size: 14px;
    font-weight: normal;
    height: 32px;
}
body .input-group {
    padding: 0;
}
.input-group.input-group--selection-controls:not(.input-group--disabled) label {
    pointer-events: all;
    font-size: 14px;
    color: #000;
}
body .accent--text {
    color: #000 !important;
}
body .expansion-panel__body .subheader {
    float: right;
}
body .input-group__details {
    min-height: 10px;
}
.expaned__list__data {
    border: none !important;    
}
body .expaned__list__data .expansion-panel__header {
    font-weight: normal;
}
.flex__checkbox .input-group{
    width: auto;
}
.group__thanh_phan .input-group.input-group--selection-controls .input-group__input {
    height: 38px;
}
.group__thanh_phan .flex__checkbox .input-group {
    width: 100px;
    max-width: 100px;
    height: 38px;
    max-height: 38px;
    border-right: 1px solid darkgray;
    background: #e1e2e1;
}
.group__thanh_phan .flex__checkbox .input-group:first-child {
    border-left: 1px solid #a9a9a9;
}
.group__thanh_phan .input-group.input-group--selection-controls .input-group__input .icon--selection-control {
    width: 100px;
}
.group__thanh_phan .input-group--selection-controls__ripple:before {
    left: 83%;
}
.group__thanh_phan .input-group--selection-controls__ripple {
    left: 11px;
    height: 38px;
    width: 38px;
    margin-left: 32px;
}
.group__thanh_phan .badge--left .badge__badge {
    top: 0;
    left: 26px;
}